@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

.jampay-header {
  background-image: url('/images/building-jampay-header.png');
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jampay-header h1 {
  color: white;
  padding: 200px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0px;
}

.jampay-header h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 400;
  text-shadow: 2px 2px black;
  margin: 0;
  padding: 20px 0 50px;
}

.jampay-header h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: .675em;
  font-weight: 400;
  text-shadow: 2px 2px black;
  margin: 0;
  padding: 10px 0 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
