<div class="py2 post-footer">
  <img src="/images/avatar.jpg" alt="Justin Davis" class="avatar" />
  <p>
    Justin Davis is a hacker and user experience designer, and founder of <a href="http://www.maderalabs.com">Madera Labs</a> and <a href="http://www.getdrawer.com">Drawer</a>. He's an expert in UX, product design and product development. He's also pretty legit at throwing JavaScript around.
  </p>
  <p>
    Follow him on Twitter at <a href="http://www.twitter.com/jwd2a">@jwd2a</a>.
  </p>
  <p>
    Want to pick Justin's brain personally? <a href="http://letsdolunch.youcanbook.me">Buy him lunch</a> and he'll meet with you to chat about whatever you're working on.
  </p>
</div>
