td {
  padding: 10px;
}

table {
  margin-bottom: 20px;
	font-size: .8em;
}

thead {
	text-align: left;
}

code {
  background-color: #eee;
  font-family: monospace;
  padding: 1px 5px 1px 5px;
}

pre {
  width: 100%;
  background-color: #eee;;
  code {
    background-color: transparent;
  }
}

tr:nth-child(even) {
	background-color: #eee;
}

.post {
  margin-bottom: 100px;
}

.site-header {
  margin-top: 50px;
}

.ads {
  img {
    margin-bottom: 30px;
  }
}

@media (min-width: 1400px) {
  .content {
    width: 1400px;
  }
}
