<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51af5dfc0e30f577" async="async"></script>
<script>
  var tracker = {};
      tracker.siteKey = "ab76c8aa-5e38-732b-aa90-b0acd4ba61bc";
      tracker.track = function(eventType, UID, UIDType){
	 	      var request = new XMLHttpRequest();
		          request.open("POST", "http://sleepy-cliffs-1333.herokuapp.com/events", true);
		          request.setRequestHeader("Content-type", "application/json");
		          request.send(JSON.stringify({
			           apiKey: tracker.siteKey,
			           eventType: eventType,
			           UID: UID,
			          UIDType: UIDType
		          }));
       }
       document.getElementsByTagName("a").addEventListener("click", function(){
          tracker.track(this.dataset.action);
       });
</script>
</body>
</html>
