<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51af5dfc0e30f577" async="async"></script>
  
<script>
  $(document).ready(function(){
				var tracker = {};
				tracker.siteKey = "ab76c8aa-5e38-732b-aa90-b0acd4ba61bc";
				$("*[data-action]").click(function(e){
					$.ajax({
						type: "POST",
						url: "http://sleepy-cliffs-1333.herokuapp.com/events",
						data: {
							apiKey: tracker.siteKey,
							eventType: 	$(e.currentTarget).attr("data-action"),
							UID:  		$(e.currentTarget).attr("data-uid"),
							UIDType: 	$(e.currentTarget).attr("data-uidType"),
							eToken: 	tracker.trackingKey
						}
					});
				});
				tracker.createTrackingKey = function(){
					function s4() {
    					return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
 					 }
 					 return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
				}
				
				//check if we have a user already in localstore, if not, create one.
				if(!window.localStorage.getItem("eToken")){
					window.localStorage.setItem("eToken", tracker.createTrackingKey());
				}else{
					tracker.trackingKey = window.localStorage.getItem("eToken");
				}
			});
</script>
</body>
</html>
